.container{
  background-color: rgba(0, 0, 0, 0.522);
  padding: 10px;
}
.repo{
  min-height: 250px;
}
.userdetail{
  padding: 10px 30px ;
  width: 700px;
}

img{
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: inherit;
}

.moredetail{
  padding: 20px;
}
