<div class="d-md-flex container justify-content-center align-items-center bg-white" *ngIf='shwinput'>
  <div class="row justify-content-center align-items-center">
    <form (ngSubmit)='submitQuery()'>
      <div class="search text-center">
        <div class="bg-image">
          <p class="logo">Github</p>
          <p class='sub'>Search</p>
        </div>
        <input type="text" name="search" id="search" class="form-control" [(ngModel)]='search' placeholder="Search...">
        <div class="text-center">
          <button type='submit' class="btn btn-outline-secondary btn-md mt-4">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-progress></ng-progress>
<app-repodetails *ngIf='showrepo' (goback)=showrepodata($event)></app-repodetails>
