<div class="container">
  <nav class="navbar  navcustom">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <input type="button" routerLink='/home' routerLinkActive='active' value="Search Users" class="btn  btn-lg other" id="home">
      </li>
      <li class="nav-item">
        <a routerLink='/home' class="=nav-link title"><img src="./assets/logo.png" alt="logo" class="img-fluid"></a>
      </li>
      <li class="nav-item">
        <input type="button" routerLink='/repos' routerLinkActive='active' value="Search Repos" class="btn  btn-lg other" id="login">
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

